<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear/>
    <add name="koranprince" providerName="System.Data.SqlClient" connectionString="Data Source=corp-cernsql01d;Initial Catalog=Koran; Integrated Security = True"/>
    <add name="koranprince2" providerName="System.Data.SqlClient" connectionString="Data Source=corp-cernsql01d;Initial Catalog=Fusion; Integrated Security = True"/>
  </connectionStrings>
</configuration>